/* Default Desktop Styles */
.custom-navbar {
    width: 85%;
    margin-top: 5px;
    margin-left: auto;
}

.form-container {
    width: 85%;
    margin-top: 5px;
    margin-left: 225px;
}

.table-container {
    padding-left: 230px;
}

/* Responsive Styling for Mobile */
@media (max-width: 768px) {
    .custom-navbar {
        width: 100% !important;
        margin-left: 0 !important;
    }

    .form-container {
        width: 100% !important;
        margin-left: 0 !important;
        padding: 10px;
    }

    .table-container {
        padding-left: 0 !important;
        width: 100% !important;
        overflow-x: auto; /* Enable horizontal scrolling for small screens */
    }
}
