{% extends 'admin_dashboard.html' %}
{% block title %}
New Technician
{% endblock %}

{% block content %}
<div class="container">
  <div class="page-inner">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <div class="ms-md-auto py-2 py-md-0 text-end">
              <a
                href="#"
                class="btn text-white"
                style="background-color:#2973B2;"
                data-bs-toggle="modal"
                data-bs-target="#addtechnicianModal"
              >
                Add Technician
              </a>
            </div>
            <h4 class="card-title">New Technician</h4>
          </div>
          <div class="card-body">
            <table id="basic-datatables" class="display table table-striped table-hover">
              <thead>
                <tr>
                  <th>User Name</th>
                  <th>Email</th>
                  <th>Role</th>
                </tr>
              </thead>
              <tbody>
                {% for d in technicians %}
                <tr>
                  <td>{{ d.username }}</td>
                  <td>{{ d.email }}</td>
                  <td>{{ d.role }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal for Adding Technician -->
    <div
      class="modal fade"
      id="addtechnicianModal"
      tabindex="-1"
      aria-labelledby="addtechnicianModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addtechnicianModalLabel">Add Technician</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form method="post">
              {% csrf_token %}
              <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input
                  type="text"
                  class="form-control"
                  id="username"
                  name="username"
                  placeholder="Enter Username"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  name="email"
                  placeholder="Enter Email"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  name="password"
                  placeholder="Enter Password"
                  required
                />
              </div>
              <div class="card-action text-center">
                <button type="submit"  class="btn text-white" style="background-color:#2973B2;" >Add</button>
            </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}