{% extends 'admin_dashboard.html' %}
{% block title %}
new customer
{% endblock %}

{% block content %}

<div class="container">
  <div class="page-inner">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <div class="ms-md-auto py-2 py-md-0 text-end">
              <a href="#" class="btn text-white" style="background-color:#2973B2;" >Add Customer</a>
            </div>
            <h4 class="card-title">New Customers</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table id="basic-datatables" class="display table table-striped table-hover">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Contact Number</th>
                    <th>WhatsApp Number</th>
                    <th>Referred By</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  {% for customer in customers %}
                  <tr>
                    <td>{{ customer.name }}</td>
                    <td>{{ customer.address }}</td>
                    <td>{{ customer.contact_number }}</td>
                    <td>{{ customer.whatsapp_number }}</td>
                    <td>{{ customer.reffered_by }}</td>
                    <td>
                      <button 
                        class="btn btn-sm btn-primary"
                        data-bs-toggle="modal"
                        data-bs-target="#updateCustomerModal{{ customer.id }}">
                        Update
                      </button>
                      <form method="post" action="{% url 'delete_customer' customer.id %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                      </form>
                    </td>
                  </tr>

                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    
{% endblock %}