{% extends 'admin_dashboard.html' %}
{% block title %}
Update Item Purchased
{% endblock %}

{% block content %}
<div class="row ">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4></h4>
            </div>
            <div class="card-body">
                <form action="{% url 'update_item_purchased' item.id %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    
                    <div class="card-header ">
                        <h1></h1>
                        <h4 class="card-title text-center">Update Item Purchased</h4>
                    </div>
                    <div style="padding-left: 350px;">
                    <div class="form-group col-md-8">
                        <label for="date">Date</label>
                        <input type="date" class="form-control" id="date" name="date" 
                               value="{{ item.date|date:'Y-m-d' }}" required>
                    </div>

                    <div class="form-group col-md-8">
                        <label for="item_name">Item Name</label>
                        <input type="text" class="form-control" id="item_name" name="item_name" 
                               value="{{ item.item_name }}" required>
                    </div>

                    <div class="form-group col-md-8">
                        <label for="price">Price</label>
                        <input type="number" step="0.01" class="form-control" id="price" name="price" 
                               value="{{ item.price }}" required>
                    </div>

                    <div class="form-group col-md-8">
                        <label for="bill_photo">Bill Photo</label><br>
                        <input type="file" class="form-control-file" id="bill_photo" name="bill_photo">
                        {% if item.bill_photo %}
                        <small>Current Photo:</small><br>
                        <img src="{{ item.bill_photo.url }}" alt="Bill Photo" class="img-thumbnail mt-2" width="150">
                        {% endif %}
                    </div>
                    </div>

                    <div class="text-center mt-4" style="padding-left: 100px;">
                        <button type="submit" class="btn btn-success">Update</button>
                        <a href="{% url 'item_purchased' item.id %}" class="btn btn-secondary">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}