{% extends 'admin_dashboard.html' %}
{% block title %}
Update Fuel Charge
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h1></h1>
            </div>
            <div class="card-body">
                <form action="{% url 'update_fuelcharge' fuel.id %}" method="post">
                    {% csrf_token %}
                    
                    <div class="card-header">
                        <h4 class="card-title text-center">Update Fuel Charge</h4>
                    </div>
                    <div style="padding-left: 350px;">
                    <div class="form-group col-md-8">
                        <label for="technician_name">Technician Name</label>
                        <input type="text" class="form-control" id="technician_name" name="technician_name" value="{{ fuel.technician_name }}" required>
                    </div>

                    <div class="form-group col-md-8">
                        <label for="date">Date</label>
                        <input type="date" class="form-control" id="date" name="date" value="{{ fuel.date|date:'Y-m-d' }}" required>
                    </div>

                    <div class="form-group col-md-8">
                        <label for="purpose">Purpose</label>
                        <input type="text" class="form-control" id="purpose" name="purpose" value="{{ fuel.purpose }}" required>
                    </div>

                    <div class="form-group col-md-8">
                        <label for="kilometers">Kilometers</label>
                        <input type="number" class="form-control" id="kilometers" name="kilometers" value="{{ fuel.kilometers }}" required>
                    </div>

                    <div class="form-group col-md-8">
                        <label for="cost">Cost</label>
                        <input type="number" class="form-control" id="cost" name="cost" value="{{ fuel.cost }}" required>                    </div>
                    </div>
                    <div class="text-center mt-3" style="padding-left: 100px;">
                        <button class="btn btn-success" type="submit">Update</button>
                        <a href="{% url 'fuelcharge' fuel.id %}" class="btn btn-secondary">Cancel</a>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}