{% extends 'admin_dashboard.html' %}
{% block title %}
Update Food Allowance
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4></h4>
            </div>
            <div class="card-body">
                <form action="{% url 'update_food_allowance' food.id %}" method="post">
                    {% csrf_token %}
                    
                    <div class="card-header">
                        <h4 class="card-title text-center">Update Food Allowance</h4>
                    </div>
                    <div style="padding-left: 350px;">
                    <div class="form-group col-md-8">
                        <label for="technician_name">Technician Name</label>
                        <input type="text" class="form-control" id="technician_name" name="technician_name" 
                               value="{{ food.technician_name }}" required>
                    </div>

                    <div class="form-group col-md-8">
                        <label for="date">Date</label>
                        <input type="date" class="form-control" id="date" name="date" 
                               value="{{ food.date|date:'Y-m-d' }}" required>
                    </div>

                    <div class="form-group col-md-8">
                        <label for="purpose">Purpose</label>
                        <input type="text" class="form-control" id="purpose" name="purpose" 
                               value="{{ food.purpose }}" required>
                    </div>

                    <div class="form-group col-md-8">
                        <label for="cost">Cost</label>
                        <input type="number" step="0.01" class="form-control" id="cost" name="cost" 
                               value="{{ food.cost }}" required>
                    </div>
                    </div>
                    <div class="text-center mt-3" style="padding-left: 100px;">
                        <button class="btn btn-success" type="submit">Update</button>
                        <a href="{% url 'food_allowance' food.id %}" class="btn btn-secondary">Cancel</a>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}